 

/*
@media screen and (max-width:1440px) {

 }
*/
.visually-hidden{
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.intro-video {
    background-color: #000;
    // background-color: red;
    height: 100%;



    .pjt-top-full {
        display: flex;
        padding: 0;
    }

    .videos-wrap {
        width: 100vw;
        height: 100vh;
        // min-width: 1004px;
        position: relative; 
        overflow: hidden;

      &.hide-mobile {
        display: block;
      }

      &.hide-pc {
        display: none;
      }
    }

    .video-background {
        width: 100%;
        height: 100%;
    }
}

.thumnail {
  margin-top: 10px;
  position: relative;
  height: 300%;

    .pjt-top-full {
      padding: 0;
    }
    // .intro-thumnail {
    //   .txt-wrap {
    //     background-color: #fff;
    //     width: 100%;
    //     height:100%;            
    //     margin-top: 296px;
    //     margin-bottom: 238px;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center; 
    //     .txt {
    //       @include vw-font-size-pc(100); 
    //       font-weight: 600;
    //       color: #000;
    //       line-height: 1.2;
    //       @include vw-convert-pc(margin-bottom, 32);
    //       text-decoration: none;

    //       .line {
    //         white-space: nowrap;
    //         width: 100%;
    //         text-align: center;
    //         display: inline-block;
    //       }
  
    //       i {
    //         font-style: normal;
    //         color:  #C9CACF;
    //       }
  
    //       b {
    //         color: #E30D40;
    //       }

    //       .icon {
    //         display: inline-block;
		// 	      @include vw-convert-pc(width, 80);
		// 	      @include vw-convert-pc(height, 80);
    //         background-repeat: no-repeat;
    //         background-position: center;
    //         background-size: contain;
    //         vertical-align: middle;
		// 	      @include vw-convert-pc(margin,0 32);
  
    //         &._snow {
    //           background-image: url(/dist/assets/images/svg/icon_snow_80.svg);
    //         }
  
    //         &._arrow {
    //           background-image: url(/dist/assets/images/svg/icon_arrow_80.svg);
    //         }
    //       }
    //     }
    //   }
    // }
  }

.box-lst {
  width:calc((100% - 24px)/2);


  & + .box-lst > .portfolio-item {
    // background:red;
  }

  &-wrap {
    margin:0 auto;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    .cols {
      display: flex;
      justify-content: space-between;
      width:calc((100% - 24px)/2);
    }
  }
& > .portfolio {
    &-item {
      & + .portfolio-item {margin-top:24px;}

      .pf {
        &-item {
          position: relative;

          &.lg {
            height: 542px;
          }
          position: relative;
          width:100%; height:382px;
          overflow: hidden;  //
          & > a {
            display: block;
          }

        .thumb-label {
          position: absolute;
	        @include vw-convert-pc(top, 32);
	        @include vw-convert-pc(left, 32);
          color: #fff;
          font-weight: 700;
          @include vw-font-size-pc(24);
          background-color: transparent;
          padding: 0;

          &.g800{
            color: #24262d;
          }
        }

          &:hover, &:focus {
            border: 1px solid #1A1C23;
            .thumb-img {
              transform: translateY(-100%);
              opacity: 0;
            }
            .thumb-btn {
              transform: translateY(0);
              opacity: 1; 
            }

            .pf-eff {
              transform: translateY(0);
              cursor: default;
            }
          }
        }
        &-cont {
          width:100%; height:100%;
          position: relative;

          .thumb-img {
            width:100%; height:100%;
            display: block;
            transition: transform .3s ease-in-out, opacity 0.5s ease-in-out;
            object-fit: cover;
          }

      .thumb-btn {
        position: absolute;
        bottom: 32px;
        width: 100%;
        height: 52px;
        background-image: url('/dist/assets/images/btn_arrow_next.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: translateY(100%);
        opacity: 0;
        transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
        z-index: 2;
        cursor: pointer;
      }
  
        }
        &-eff {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background: #fff;
          justify-content: center;
          text-align: center;
          transform: translateY(100%);
          transition: transform 0.5s ease;
          padding-top: 98px;
          padding-left: 32px;
          // border: 1px solid #1A1C23;
          z-index: 1;
        }
        &-logo {
          position: absolute;
          top: 32px;
          left: 32px;
          width: auto; 
          height: 34px;
          z-index: 2;
        }
        &-company {
          display: flex;
          justify-content: start;
          font-size: 24px;
          font-weight: 300;
          color:#1A1C23;
          margin-bottom: 12px;
        }
        &-desc {
          display: flex;
          text-align: left;
          font-size: 40px;
          font-weight: 800;
          color: #24262D;
        }
      }
    }
  }
}

.pf-btn-wrap {
	@include vw-convert-pc(width, 440);
	@include vw-convert-pc(height, 80);
  height: 80px;
  border: 1px solid #24262d;
  color: #24262d;
  font-weight: 600;
	@include vw-font-size-pc(24); 
  margin: 0 auto;
  margin-top: 140px;

  >.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;

    &::after {
      content: '';
      display: block;
      width: 24px;
      height: 24px;
      background-image: url(/dist/assets/images/svg/icon_arrow_24.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position:center;
      padding-left: 8px;
    }
  }

}

.btm-aboutus {
  margin-top: 280px;
padding-top: 0;
height: 100%;
// position: relative;


.pjt-top-full {
  padding: 0;
}

.pjt-title {
  // position: relative;
}

.btm-banner-wrap{
  weight: 100%; 
  height: 100%;

  .about-banner {
  display: flex;
  flex-direction: column;
  width: 100%; height: 360px;
  background-image: url('/dist/assets/images/bg_aboutus_origin.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 53.5px;
  padding-left: 160px;
  transition: transform 0.4s ease-in-out, background-image 0.2s ease-in-out;
  // border-bottom: 1px solid #d9dad3;
  box-sizing: border-box;
    
  
  &:hover,&:focus {
  background-image: url('/dist/assets/images/bg_aboutus_active.png');
  transform: scale(1.05);
    // border-bottom: 1px solid #d9dad3;

  }

    .btm-title {
      @include vw-font-size-pc(72); 
      display: flex;
      font-weight: 600;
      color: #fff;
      height: 124px;
      margin-bottom: 4px; 
      align-items: center;

    }

    .btm-txt {
      @include vw-font-size-pc(24); 
      font-weight: 400;
      color: #fff;
    }


    .view-more-btn {
      color: #fff;
      display: block;
      height: 29px;
      width: auto;
      font-weight: 600;
      font-size: 18px;
      margin-top: 48px;

      &::after {
        content: '';
        display: block;
        width: 114px;
        height: 5px;
        background: url(/dist/assets/images/btn_arrow_next_white.png) no-repeat center;
        background-size: 100% 100%;
        margin-top: 5px;
      }
    }

  }

  &.black {
              // transition: .3s all ease-in-out;
    &:hover {
      &+.btm-banner-wrap{

        &.white{
          
          .didi {
            // transition: .3s all ease-in-out;
            top: -230px;
            
            video {
            transition: .3s all ease-in-out;
            width: 230px;
            height: 230px;
          }
        }
        }
      }

    }

    .about-banner,
    .btm-title,
    .btm-txt,
    .view-more-btn {
      color: #1A1C23;
      align-items: flex-end;
      text-align: right;
      transition: all 0.3s ease-in-out;
    }
    .about-banner {
      background-image: none;
      background-color: #fff;
      padding-right: 160px;


      &:hover,&:focus {
      border-bottom: 1px solid #d9dad3;
        .btm-title { color: #E30D40;}

      }
    }

    .btm-title {
      display: flex;
      align-items: center;
    }

    .view-more-btn {
      
      &::after {
      content: '';
      display: block;
      width: 114px;
      height: 5px;
      background: url(/dist/assets/images/btn_arrow_next_g800.png) no-repeat center;
      background-size: 100% 100%;
      margin-top: 5px;
      transform: scaleX(-1);

      }
    }
  }

    &.white {
       position: relative;
      border-bottom-right-radius: 32px;
      border-bottom-left-radius: 32px;


      &:hover {
        .didi {
          top: -230px;

          video {
            transition: .3s all ease-in-out;

          }
        }
      }

      &::before {
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: #000;
        z-index: -1;
      }
    
    .about-banner,
    .btm-title,
    .btm-txt,
    .view-more-btn {
      align-items: flex-start;
      text-align: left; 
      color:#1A1C23;
      transition: all 0.3s ease-in-out;
    }
    .about-banner {
      // background-image: none;
      background: #fff;
      padding-right: 160px;
      border-top:1px solid #d9dad3;
      border-bottom-right-radius: 32px;
      border-bottom-left-radius: 32px;

  &:hover,&:focus {
      // border-top:1px solid #d9dad3;
    .btm-title { color: #E30D40;} 



  }

    }

    .btm-title {
      display: flex;
      align-items: center;
    }

    .view-more-btn {
      
      &::after {
      content: '';
      display: block;
      width: 114px;
      height: 5px;
      background: url(/dist/assets/images/btn_arrow_next_g800.png) no-repeat center;
      background-size: 100% 100%;
      margin-top: 5px;

      }
    }
  }
}
  .didi {
    position: absolute;
    // width: 180px;
    // height: 180px;
    // @include vw-convert-pc(width, 180);
		// @include vw-convert-pc(height, 187);
		top:-180px;
		left: 127px;
    @include vw-convert-pc(top, -180);
		@include vw-convert-pc(left, 127);
    transition:.3s all ease-in-out;

    video {
      // border: none;
      // background-color: red;
    }
  }
}

//contact
.contact-wrap {
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  background-color: #fff;

  +.footer {
    background-color: #000;

    .footer-txt-wrap {
      color: #fff;
    }
  }

    &::before {
      content: '';
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: #000;
      z-index: -1;
    }
    .title-wrap {

    .contact{

      &-txt {
        text-align: start;
        font-weight: 700;
        @include vw-font-size-pc(72);
        line-height: 1.24;
      }

      &-info {
        display: flex;
        // width: 100%;
        flex-direction: column;
      }
    }
  }

      .contact{
      &-info {
        display: flex;
        @include vw-convert-pc(margin-top,32)
      }
      &-item {
        @include vw-font-size-pc(18);
        font-weight: 500;
        line-height: 1.6;
        &+.contact-item {
          @include vw-convert-pc(margin-left,32)
        }
      }
    }

    .contact {
      &-map {
		width: 100%;
		@include vw-convert-pc(height, 520);
		@include vw-convert-pc(margin-top, 50);
		background: #f5f5f5;
      }
    }



}


//project 

.pjt-con-wrap {
  

&.kb-wallet,
&.kb-remote,
&.jb,
&.samsung-life,
&.hyundai-card,
&.hana-card,
&.woori-finance {
  position: relative;
  width: 100vw;
  height: 100vh;
  // @include vw-convert-pc(padding-top, 207);
  @include vw-convert-pc(padding-top, 128);
  @include vw-convert-pc(padding-bottom, 120);
  @include vw-convert-pc(padding-left, 120);

    .img-award {
    padding: 0;
    margin: 0;
    img {
      @include vw-convert-pc(max-width, 52);
      @include vw-convert-pc(max-height, 72);
    }
  }

  &.white {
      p,h4 {
    color: #fff;
    padding: 0;
  }
  }

  .pjt {

    &-intro {
      display: flex;
    

      .video-wrap {
        position: relative;
        @include vw-convert-pc(margin-right, 206);

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          position: absolute;
          background-position: 100% 100%;
          background-repeat: no-repeat;
          background-size: contain;
          // z-index는 아래에서 분기 처리
        }
        
        .wallet-video {
          @include vw-convert-pc(width, 697);
          @include vw-convert-pc(height, 750);
          // width: 697px;
          // height: 750px;
          background-color: transparent;
          display: block;
          position: relative;
          z-index: 2;
        }
      }
    }

    &-title {
      color: #1a1c23;
      // width: calc(100% / 2);
      width: 100%;
      height: 100%;

      .txt {
        font-weight: 700;
        line-height: 1.24;
        @include vw-font-size-pc(76);
        @include vw-convert-pc(padding-top, 80);

        .client {
          font-weight: 400;
        }
      }

      .desc {
        @include vw-convert-pc(margin-top, 20);
        font-weight: 400;
        line-height: 1.6;
        @include vw-font-size-pc(18);
      }
    }
  }

  .pjt-intro {
    .pjt-summary {
      color: #1a1c23;
      font-weight: 700;
      line-height: 1.6;
      // @include vw-font-size-pc(16);
      // @include vw-convert-pc(padding-top, 306);
      position: absolute;
      @include vw-convert-pc(bottom, 140);

      .pjt-list {
        display: flex;

        .title {
          @include vw-convert-pc(width, 140);
        }

        .info {
          font-weight: 400;
        }

        + .pjt-list {
          @include vw-convert-pc(margin-top, 12);
        }
      }
    }
  }
}

// kb-wallet만의 스타일
&.kb-wallet {
  background: #F9DB6C;
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: block;

  .pjt-intro {
    .video-wrap {
      &::after {
        background: none; 
      }
    }
  }
}

// kb-remote만의 스타일
&.kb-remote {
  background: #fff;
  // display: none;

  .pjt-intro {
    display: flex;
     position: relative;
    .video-wrap {
      &::after {
        background: url(/dist/assets/images/bg_kb_wallet_pc.png) no-repeat;
        z-index: 1;
      }
    }
  }
}
// 전북은행(JB)만의 스타일
&.jb {
  background: #fff;
  background: url(/dist/assets/images/bg_jb_top.png) no-repeat;
  background-size: contain;
  background-position: 100%;

      .img-wrap {
   position: fixed;
    right: 0;         
    bottom: 0;       
    z-index: 1;

    img {
      // width: auto;
      // height: auto;
    @include vw-convert-pc(max-width, 970);
    @include vw-convert-pc(max-height, 850);
  }
    }
}
// 삼성생명(samsung-life)만의 스타일
&.samsung-life {
  background: #fff;
  background: url(/dist/assets/images/bg_samsunglife_pc.png) no-repeat;
  background-size: cover;
  background-position: 100%;

  .pjt{
    &-intro{

    }

    &-title {
      .txt {
        @include vw-convert-pc(padding-top, 24);
      }
    }
  }
}
// 현대카드 (Hyundai Card)만의 스타일
&.hyundai-card {
 background: #fff;
  background: url(/dist/assets/images/bg_hyundai_pc.png) no-repeat;
  background-size: cover;
  background-position: 100%;

  .pjt{
    &-intro{

    }

    &-title {
      .txt {
        @include vw-convert-pc(padding-top, 24);
      }
    }
  }
    
  
  .img-award {
    padding: 0;
    margin: 0;
    img {
      @include vw-convert-pc(max-width, 52);
      @include vw-convert-pc(max-height, 72);
    }
  }
}

// 우리금융그룹 (Woori Financ  e Group)만의 스타일
&.woori-finance {

  .pjt{
    &-title {
      .txt {
        @include vw-convert-pc(padding-top, 24);
      }
    }
  }

  .video-wrap {
  position: relative;

    &::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    @include vw-convert-pc(width, 710);
    @include vw-convert-pc(height, 715);
    transform: translate(-50%, -50%);
    background-image: url('/dist/assets/images/bg_wooriphone_pc.png'); // 원하는 이미지 경로
    background-size: cover;
    background-position: center;
    z-index: 3;
    pointer-events: none;
    }

    video {
    width: 100%;
    height: auto;
    display: block;
    z-index: 1;
  }
  }
}


}
//new-header
.pjt-header-wrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  @include vw-convert-pc(height, 80);
  @include vw-convert-pc(padding-top, 26);
  @include vw-convert-pc(padding-bottom, 27);
  background-color: #000;
  color: #fff;
  @include vw-font-size-pc(20);
  font-weight: 700;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
    @include vw-convert-pc(padding-right, 40);

  // 중앙 텍스트
  p {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
    white-space: nowrap;
  }

  // 우측 네비게이션 아이콘
  .nav-swiper {
    display: flex;
    position: absolute;
    right: 0;
    @include vw-convert-pc(right, 80);
    @include vw-convert-pc(height, 40);
    // gap: 24px;

    li {

      // li 사이 간격
      & + li {
        @include vw-convert-pc(margin-left, 24);
      }

      // 아이콘 공통 스타일
      a {
        display: inline-block;
        @include vw-convert-pc(width, 40);
        @include vw-convert-pc(height, 40);
        object-fit: contain;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        transition: all 0.3s ease-in-out;
      }

      // 각 아이콘별 이미지
      .ico-prev {
        background-image: url(/dist/assets/images/svg/ic_prev_gray40.svg);

        &:hover,
        &:focus {
          background-image: url(/dist/assets/images/svg/ic_prev_white40.svg);
        }
      }

      .ico-next {
        background-image: url(/dist/assets/images/svg/ic_next_gray40.svg);

        &:hover,
        &:focus {
          background-image: url(/dist/assets/images/svg/ic_next_white40.svg);
        }
      }

      .ico-close {
        background-image: url(/dist/assets/images/svg/ic_close40.svg);

        &:hover,
        &:focus {
          transform: rotate(360deg);
        }
      }
    }
  }
}



@media (max-width:1004px) {

  .intro-video {

    .videos-wrap {

      &.hide-mobile {
        display: none;
      }

      &.hide-pc {
        display: block;
      }
    }
  }
  
  .box-lst {

    
    &-wrap {
      min-width: calc(335px - 10px); 
      padding: 0 20px;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;

      .cols {
        width:100%;
        & + .cols {margin-top:10px;}
      }

      .portfolio {

        &-item {

            width: 162px;
            height: auto;
            pointer-events: none;

            .pf-cont {
              width: 162px;
              height: 162px;
              position: relative;

            .thumb-label {
              position: absolute;
	            @include vw-convert-mo(top, 16);
	            @include vw-convert-mo(left, 16);
              color: #fff;
              font-weight: 700;
              @include vw-font-size-mo(16);
              background-color: transparent;
              padding: 0;
          }
            }
            .thumb-img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              display: block;
              min-width: auto;
              min-height: auto;
          }

   

          .thumb-btn {
            display: none;
          }

          .pf-item {
            height: 162px;
              &.lg {
              height: 230px;

              .thumb-img {
                width: 100%;
                height: 230px;
                // max-height: 230px;
                object-fit: contain;
              }
              }           
              .pf-cont {
                height: 230px;
              }

              .thumb-img {
                width: 100%;
                height: 162px;
                // max-height: 230px;
                object-fit: contain;
              }
              .pf-eff {
                display: none;

                .pf-company {

                }
                .pf-desc {

                }
              }
          }
        }
      }
    }
  }


.pf-btn-wrap {
  height: 52px;
  width: 335px;
	@include vw-convert-mo(max-width,686);
	@include vw-convert-mo(max-height,107);

  .btn{
    &::after {
      display: none;
    }
  }

}

}